/* HTML */
body {
    height: 100vh;
}


/* Header */

.nav-sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: -280px;
    transition: 1s;
}

.nav-sidebar.navbar-active {
    left: 0px
}

.nav-sidebar .logo img {
    height: 100px;
    width: 200px;
    object-fit: cover;
    margin: 0 20px;
}

.nav-sidebar #navbar-control {
    display: none;
}

.list-menu ul {
    list-style-type: none;
}

.list-menu ul a {
    color: #666;
    text-decoration: none;
}

.list-menu .active {
    color: #69d16d;
    border-left: 5px solid #69d16d;
}

.list-menu .icon {
    width: 30px;
}

/* Layout */

.content-box {
    transition: 1s;
}

.content-box.navbar-active {
    padding-left: 240px;
    transition: 1s;
}

.content-box_header {
    height: 100px;
}

.popover {
    top: 50px;
    left: -100px;
    width: 200px;
    display: none;
}

.popover.active {
    display: inline-block;
}

.popover ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Content - Dashboard */

.banner-info {
    height: 150px;
}

.banner-info p {
    padding-right: 180px;
}

.banner-info img {
    height: 130px;
    top: 10px;
    right: 10px;
}

.avatar-class {
    width: 75px;
    height: 75px;
}

.content-box a {
    text-decoration: none;
}

/* Footer */
footer ul {
    list-style-type: none;
}

footer ul li {
    text-decoration: underline #666;
}

/* Responsive */

@media only screen and (max-width: 625px){
    .content-box.navbar-active {
        padding-left: 0;
    }

    .nav-sidebar.navbar-active {
        z-index: 10;
    }

    .nav-sidebar #navbar-control {
        display: inline-block;
    }
}